nav {
    justify-content: space-between;
}

.nav__left {
    height: 48px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    > div {
        width: 80px;
        justify-content: center;
        align-items: center;
    }
}

.background-white {
    background-color: white;
}

.nav-icon {
    font-size: 24px;
    margin-right: 8px;
}
